name: Publish on release

on:
  release:
    types: [published]
  workflow_run:
    workflows: ["ci-full"]
    types: [completed]

jobs:
  publish:
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    env:
      IMAGE_REPO: arturox2500/wrapitup_planner

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set TAG
        id: tag
        run: echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT

      - name: Create .env file
        working-directory: ./docker
        run: |
          cat << EOF > .env
          DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
          VERSION=${{ steps.tag.outputs.TAG }}
          MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE=wrapitup
          MYSQL_USER=user
          MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/wrapitup
          SPRING_DATASOURCE_USERNAME=user
          SPRING_DATASOURCE_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          SPRING_JPA_HIBERNATE_DDL_AUTO=update
          SERVER_PORT=443
          SERVER_SSL_KEY_STORE_PASSWORD=${{ secrets.SERVER_SSL_KEY_STORE_PASSWORD }}
          EOF

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docker image
        working-directory: ./docker
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner:${{ steps.tag.outputs.TAG }} -f Dockerfile ..
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner:${{ steps.tag.outputs.TAG }}
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner:${{ steps.tag.outputs.TAG }} ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner:latest

      - name: Publish docker-compose.yml
        working-directory: ./docker
        run: |
          set -a; source .env; set +a
          sed -i "s|wrapitup_planner:[^ ]*|wrapitup_planner:${{ steps.tag.outputs.TAG }}|g" docker-compose.yml
          
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner-compose:${{ steps.tag.outputs.TAG }} --file - . <<DOCKERFILE
          FROM scratch
          COPY docker-compose.yml /docker-compose.yml
          COPY .env /.env
          DOCKERFILE
          
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner-compose:${{ steps.tag.outputs.TAG }}
          
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner-compose:${{ steps.tag.outputs.TAG }} ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner-compose:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/wrapitup_planner-compose:latest
